/* 
 RESETSS
*/
*{
    box-sizing: border-box;
   
}

body{
    margin: 0;
    padding: 0;
    
}

.bug{
    outline: 1px solid orange;
}



:root{
    --yellow:hsl(51, 100%, 49%);
}






/* 
HEADER 
*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: #3DBEFF;
    height: 30rem;

    background-image: url('../images/desktop/image-header.jpg') ;
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    
}


.container{
    max-width:1200px;
}

.navbar{
    /* outline: 1px solid lime; */
    width: 100%;
    padding: .5rem;
    /* padding-left:1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .3s;
}

.navbar-menu{
    display: none;
    gap: 1rem;
    list-style: none;
    
}




.menu-item{
    /* height: 100%; */
    /* outline: 1px solid orange; */
}

.menu-link{
    font-family: 'Barlow', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: .4rem 1.2rem;
    border-radius: 14px;
    transition: 100ms;
    
}


.menu-link:hover{
    transition: 100ms;
    background-color: rgba(255,255,255,.4);
    color: #000;
    /* text-transform: uppercase; */
}

.hamburger-button{
    padding: .4rem 1.2rem;
    border:1px solid transparent ;
    background-color: transparent;
    cursor: pointer;
}




.mobile-menu{
    display: flex;
    position: absolute;
    top:4rem;
    z-index: 999;
    background-color: #fff;
    flex-direction: column;
    list-style: none;
   left: 2rem;
   right: 2rem;
   padding: 3rem;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   -webkit-animation: closeAnime 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: closeAnim 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.mobile-menu .menu-link{
    color:black;
    font-family: 'Barlow', sans-serif;
    transition: all 1.2s;
    padding: .5rem 1.4rem;
    
}
.mobile-menu .menu-link:hover{
    transition: all .8s;
    background-color: var(--yellow);
    text-transform: uppercase;
}






.lead{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 4rem;
   margin-top: 3rem;
   color: #fff;
   text-align: center;
}

.arrow-down{
    /* position: relative; */
    margin-top: 2rem;
    /* position: absolute; */
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


.mobile-menu::before{
    content: "";
    height: 0px;
    width: 0px;
    /* background-color: red; */
    position: absolute;
    top: -20px;
    right: 0px;
    border-right: 14px solid white;
    border-bottom: 14px solid white;
    border-left: 14px solid transparent;
    border-top: 14px solid transparent;
}

.navbar-menu.open .menu-link{
    
    color:black;
    /* font-size: 2rem; */
    
}































































/* 
 BREAKPOINTS MOBILE AND TABLET
*/

@media (min-width:375px){

/* todo */
}


@media (min-width:768px){
    .navbar-menu{
        display: flex;
        gap: 1rem;
        list-style: none;
        height: 2rem;
    }

    .hamburger-button{
        display: none;
       
    }

    .arrow-down{
        margin-top: 4rem;
    }
}

















/*========================
ANIMAÇÕES
==========================*/

.open {
	-webkit-animation: openAnim 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: openAnim 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes openAnim {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
@keyframes openAnim {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-transform-origin: 100% -20%;
                transform-origin: 100% -20%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 100% -20%;
                transform-origin: 100% -20%;
        opacity: 1;
    }
}
  


/* Close */

.close {
	-webkit-animation: closeAnime 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: closeAnim 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



 @-webkit-keyframes closeAnim {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transform-origin: 100% -20%;
              transform-origin: 100% -20%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
              -webkit-transform-origin: 100% -20%;
              transform-origin: 100% -20%;
      opacity: 1;
    }
  }
  @keyframes closeAnim {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transform-origin: 100% -20%;
              transform-origin: 100% -20%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
              -webkit-transform-origin: 100% -20%;
              transform-origin: 100% -20%;
      opacity: 1;
    }
  }
  




/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */